body {
  background-color: lightseagreen;
  font-family: "Pacifico", cursive;
}

.appBox {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 1000, 0.08);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
