body {
  background-color: lightseagreen;
  font-family: "Pacifico", cursive;
}

a {
  color: teal;
}

.appBox {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: solid 1px lightseagreen;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: lightseagreen;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-submit {
  background-color: teal;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  color: red;
  margin: 0;
}
.weather-app-details {
  font-size: 16px;
  color: blue;
  line-height: 24px;
  font-weight: 500;
}
.weather-app-value {
  font-weight: bold;
  color: green;
}
.weather-app-temp-section {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  color: orange;
  margin-left: 10px;
}
.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: solid 1px lightseagreen;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
